<html>
<head>
    <title>Quora Home</title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style -%>
</head>
<body>
    <%-include('_header');%>
    <%-include('_leftsidebar');%>
    <%- body %>
    <%-include('_rightsidebar');%>
    <%-include('_footer');%>
    <%- script -%> 
</body>
</html>
